<launch>
  <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find XMS3-R580-W4G3B4C_description)/urdf/XMS3-R580-W4G3B4C.xacro'" />
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="FALSE"/>
  </node> 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find XMS3-R580-W4G3B4C_description)/launch/XMS3-R580-W4G3B4C.rviz"/>

</launch>
